
/* 控制輪播圖片 */
#slider{
	clear:both;
	height: 600px;
	width :1900px;
	padding: 0;
	display:block;
}

.show1{
	background:url("../images/earth01.jpg") no-repeat scroll 0 0 transparent;
	padding: 0 ;
	height: 600px;
	width :1900px;

}
.show2{
	background:url("../images/city02.jpg") no-repeat scroll 0 0 transparent;
	padding: 0 ;
	height: 600px;
	width :1900px;

}
.show3{
	background:url("../images/data05.jpg") no-repeat scroll 0 0 transparent;
	padding: 0 ;
	height: 600px;
	width :1900px;

}
.show4{
	background:url("../images/144.jpg") no-repeat scroll 0 0 transparent;
	padding: 0 ;
	height: 600px;
	width :1900px;

}

/* 按鈕滑入前底色樣式 */
.guideconnect{
	font-size : 24px ;
	float:left;
	text-decoration:none;
	border:solid 1px white;
	border-width: 16px;
	
}

/*  按鈕滑入時變換底色樣式 */  
.guideover{
	font-family :comic sans MS;
	font-weight :bold;
	font-size : 24px ;
	
	float:left;
	border:solid 1px #FFCF78;
	border-width: 16px;
 	background:#FFCF78;
	border-radius:5px 5px;
	text-decoration:none;
	} 



.P1{
	/* background: #FFE1AB; */
	font-family : DFKai-sb;
	font-weight: 900;
	font-size : 48px;
	
	text-align:center;

	
}

#outdiv{
	/* border:solid 1px red;   */
}

#brandname{
	/* border:solid 1px black;   */
	font-weight:bold;
	font-size : 100px;
	text-align:center;
	float:left;
	margin-top:50px;
	color: #555f66;
}

#brandnameindex{
	/* border:solid 1px black;   */
	font-weight:bold;
	font-size : 100px;
	text-align:center;
	float:left;
	margin-top:0px;
	color: #555f66;
}

#micmark{
	/* border:solid 1px blue; */
	float:left;
	margin-left:450px;
}

#form{
	margin-left:540px;
}